form {
	display: inline-block;
	@inputSpace: 20px;

	.note {
		font-style: italic;
		.muted;
	}

	label {
		&:first-letter {
			text-transform: capitalize;
		}
	}

	input {
		margin-bottom: 4px !important;
	}

	.controls {
		margin-bottom: 10px;
	}

	[class^="help-"] {
		font-style: italic;
		color: @gray;
	}
	.help-inline {
		padding-left: 10px;
	}
}

.btn.wolfram-alpha {
	background-image: data-uri('../images/wolfram_alpha.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 25px;
}