.navbar {
	.brand {
		font-weight: bold;
		text-shadow: 0 0.1em 0.2em fadeout(@white, 70%);
		img {
			width: 24px;
		}
	}
}

footer {
	.author, .code, .software { .column(4); }
	.code { text-align: center; }
	.software { text-align: right; }
}