/**
 * Phundament 3 Less file
 *
 * This file is copied from p3bootstrap. You have to run
 * php composer.phar install --dev
 * in order to get the imported files.
 *
 * paths are adjustes to work from ./www/less/
 */

/* import bootrap */
@import "bootstrap/bootstrap";
@import "bootstrap/responsive";
/* use bootstrap with blueprint translation (for old extensions) */
@import "../../vendor/phundament/lessii/translations/blueprint-bootstrap";

/* use composer.phar require thomaspark/bootswatch */
//@import "../../vendor/thomaspark/bootswatch/journal/variables.less";
//@import "../../vendor/thomaspark/bootswatch/journal/bootswatch.less";

/* force scrollbars */
html {
  overflow-y: scroll;
}

/* fix responsive images */
img {
  height: auto !important;
}

/* adjust content with fixed navbar */
@media (min-width: 989px) {
  body {
    margin-top: 60px;
    padding-bottom: 40px;
  }
}

.hint {
  color: @grayLight;
  font-style: italic;
}

@media (max-width: 767px) {
  .hint {
    margin-bottom: 0.5em;
  }
}

/* TODO: temp fix from https://github.com/twitter/bootstrap/issues/4550#issuecomment-10398831 */
@media (max-width: 988px) {
  .dropdown ul.dropdown-menu {
    display: block;
  }
}

/* iPhone Hacks */
@media (max-width: 480px) {
  .je-node INPUT {
    width: 30%;
  }

  .cke_dialog {
    zoom: 0.5;
  }

  div.form .row LABEL,
  div.form .row INPUT,
  div.form .row SELECT,
  div.form .row TEXTAREA,
  div.form .row .hint {
    text-align: left;
    margin-left: 0px;
  }
}

.ckeditor LI {
  height: 180px;
}

#p3-media-grid IMG.ckeditor {
  height: auto;
  width: 150px;
  max-width: 150px;
  max-height: 120px;
}
