#home {
	#buttons {
		button {
			display: block;
			margin: 0px auto;
		}
	}

	#new-values {
		display: none;
		margin-bottom: -20px;
		form {
			width: 100%;
			.values {
				.clearfix;
				.new-value {
					.column(4);
					.control-group {
						margin-bottom: 0;
						text-align: center;
						label {
							display: inline;
							width: auto;
							float: none;
							font-weight: bold;
						}
						.controls {
							display: inline;
							margin-left: 5px;
						}
					}
				}
			}
			.form-actions {
				padding-left: 0px;
				padding-bottom: 8px;
				margin-bottom: 0px;
				text-align: center;
				.btn-primary {
					margin-left: 10px;
				}
			}
		}
	}

	#graph {
		margin-top: 15px;
		width: 100%;
		height: 500px;
	}
}