#measures {
	margin-top: 20px;
	.clearfix;
	.measure-box {
		.column(4);
		@height: 140px;
		margin-top: @gridGutterWidth;
		min-height: @height;
		.measure-content {
			.well;
			.well-small;
			height: @height - @gridGutterWidth;
			h4 {
				text-align: center;
				small {
					color: inherit;
				}
			}
			.btn-group {
				display: block;
				text-align: center;
				height: 80px;
				.btn {
					top: 25px;
				}
			}
			form {
				display: block;
				.relation {
					display: inline-block;
					width: 48%;
				}
				.relation:first-child {
					margin-right: 4%;
				}
				.chzn-container {
					width: 100% !important;
				}
			}
		}
	}
}
